<!doctype html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noko | Inicio </title>
    <link rel="stylesheet" href="../css/style-inicio.css">
    <meta name="description" content="Pagina para la gestion de notas y horarios">
    <link rel="icon" href="../img/icons/noko-icon.ico">
    <link rel="manifest" href="site.webmanifest">
</head>
<body>
<aside>
    <header>
        <img src="../img/hombre-perfil.png" alt="Nombre de usuario">
        <div>
            <p>Nombre Usuario</p>
            <p>Correo</p>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Horario</a></li>
            <li><a href="">Tareas</a></li>
            <li><a href="">Estadísticas</a></li>
            <li><a href="">Cursos</a></li>
            <li><a href="">Social</a></li>
            <li><a href="">Perfil</a></li>
            <li><a href="">Configuraciones</a></li>
            <li><a href="">Cerrar sesión</a></li>
        </ul>
    </nav>
</aside>
<main>
    <header>
        <img src="../img/noko-logo.png">
        <h1>Noko Notes</h1>
        <form>
            <input type="search" placeholder="Escribe aquí">
        </form>
    </header>
    <section>
        <button type="button">Todos</button>
        <button type="button">Pendientes</button>
        <button type="button">Completadas</button>
    </section>
    <section>
        <h2>Tareas completadas</h2>
    </section>
    <section>
        <h2>Estadísticas</h2>
    </section>
    <section>
        <h2>Cursos</h2>
    </section>
</main>
</body>
</html>
